# ignore virtualenv directory
venv/
other/
**/__pycache__/
tmp/
*.log
data/generated/
*.pkl
result/
data/compressed/20241114_process_result.tar.xz
data/compressed/compile_data_20241121.tar.xz
data/compressed/full_data.tar.xz
